body {
	background: #ffffff;
	}
p {
	color:#000000;
	}
h1 {
     color:#000000;
     background-color:#ffffff;
     border-radius: .5em;
     }
a {
     color:#1c86ee;
     }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
 li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
ul {
  background-color: #dddddd;
}

#navbar {
display: flex;
align-items: center;
justify-content: space-around;
background-color: ##000000;

}
#nav-punkte {
width: 300px;
list-style: none;
display: flex;
justify-content: space-around;

}
.nav-links {
text-decoration: none;
color: #ffffff;

}
